.overall__wrapper__header
  .overall__wrapper__header__left-box
    = link_to "マイページ", "#", class: "btn-flat"
  .overall__wrapper__header__right-box
    .overall__wrapper__header__right-box__box1
      = link_to "下書き保存", "#", class: "btn-simple"
    .overall__wrapper__header__right-box__box2
      = link_to "次へ","#", class: "btn-gradient"
