.wrapper__main__side-bar
  .wrapper__main__side-bar__block1
  .wrapper__main__side-bar__block2
  .wrapper__main__side-bar__block3 デザイン3
  .wrapper__main__side-bar__block4 デザイン4
  .wrapper__main__side-bar__block5 デザイン5
  .wrapper__main__side-bar__block6 デザイン6
