.wrapper {
  width: 1000px;
  height: 1000px;
  margin: auto;

  &__main {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    padding-top: 100px;

    &__form {
      background-color: #d3f1f9;
      width: 800px;
      height: 500px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 200px;

      &__email {
        margin-top: 20px;
        font-size: 25px;
      }
    }
  }
}
